body {
    background: gray;
}
#secBPK {
    background:gray;
    color:white;
    display: flex;
    flex-direction: row;
    height: 240px
}
div {
    background:lightskyblue;
    margin:auto;
}
.boxes {
    height: 200px;
    width: 200px;
}
#headline {
    text-align: center;
    background: lightskyblue;
}
.boxTitle {
    text-align: center;
    
}
.btn {
    display: flex;
    justify-content:center;
    align-items:flex-end
}
#secDisplay {
height: 200px;
}
#store {
    background: lightskyblue;
    color: white;
    display: flex;
    width:500px;
    height: 200px;
}
#imgs {
    max-width: 60px;
    max-height: 60px;
}